:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  background-color: black;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 15%;
  background-color: black;
  /* padding: 1em; */
  min-height: 100vh;
}
.bg {
  background-color: rgb(22, 22, 22);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  /* .grid { */
  /* grid-template-columns: repeat(2, 1fr); */
  /* } */
  body {
    /* padding: 1em; */
    margin: 0 0em;
  }
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* BUTTON STYLES */
button {
  background-color: white;
  color: black;
  padding: 1em;
  border: 5px solid white;

  font-size: 24px;
  padding: 0;
}

h1 {
  text-align: center;
}

/* button:active,
button:hover,
button:focus {
  color: black;
  background-color: white;
} */

@font-face {
  font-family: Pirulen;
  src: url("/pirulen.otf") format("opentype");
}